<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO list</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">

        <button class="btn btn-lg btn-primary  btn-block " disabled><%= heading%></button>


        <%for(let i=0;i<list.length;i++){%>
        <form  method="post" action="/delete">
            <div class="item">
                <input type="checkbox" value="<%= list[i]._id%>" name="checkbox">
                <p><%=list[i].name%></p>
            </div>
        </form>



        <%}%>
        


       
        
    <form class="" action="/" method="post">

        <input name="textInput" type="text" placeholder="New Task" autocomplete="off">
        <input type="submit" value="+">

    </form>


    </div>

</body>

</html>